<footer class="footer bg-dark">
  <div class="row align-items-center h-100 px-5 no-gutters">
    <div class="col-6 justify-content-start">
      <span class="text-light">Copyright &copy; {{ currentYear() }}. Developed by <a class="text-warning" href="https://github.com/ramtinsoltani" target="_blank">Ramtin Soltani</a>.</span>
      <br>
      <span class="text-light">View source code on <a class="text-warning" href="https://github.com/ramtinsoltani/releasedates.io" target="_blank">GitHub</a></span>
    </div>
    <div class="col-6 text-right">
      <span class="text-muted">This web app uses the API of <a href="https://thetvdb.com" target="_blank" class="text-muted">TheTVDB</a>.</span>
      <br>
      <a routerLink="/privacy" class="text-muted">Privacy Policy</a>
    </div>
  </div>
</footer>
