<div class="row">
  <div class="col-12">
    <h3 class="text-center">Discover</h3>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="cards-container">
      <div *ngFor="let series of discovered" class="card cursor-link" routerLink="/series/{{ series.id }}">
        <img [src]="series.posters[0].thumbnail ? series.posters[0].thumbnail : '/assets/placeholder.jpg'" class="card-img-top img-fluid">
        <div class="card-body d-flex align-items-center justify-content-center">
          <h5 class="card-title m-0 text-center">{{ series.name }}</h5>
        </div>
      </div>
    </div>
    <ng-template [ngIf]="pending">
      <div class="my-5 text-center w-100">
        <svg class="loader" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;">
          <path d="M270,14c0,7.7-6.3,14-14,14C130.1,28,28,130.1,28,256c0,7.7-6.3,14-14,14s-14-6.3-14-14C0,114.6,114.6,0,256,0 C263.7,0,270,6.3,270,14z"/>
        </svg>
      </div>
    </ng-template>
  </div>
</div>
