<header>
  <nav class="navbar navbar-dark bg-danger navbar-expand-lg fixed-top">
    <div class="row w-100 align-items-center">
      <div class="col-4">
        <a routerLink="/" class="navbar-brand ml-4">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.999 511.999" class="d-inline-block align-top mr-2" width="32" height="32">
          	<path fill="#fff" d="M443.86,196.919L141.46,10.514C119.582-2.955,93.131-3.515,70.702,9.016c-22.429,12.529-35.819,35.35-35.819,61.041
          		v371.112c0,38.846,31.3,70.619,69.77,70.829c0.105,0,0.21,0.001,0.313,0.001c12.022-0.001,24.55-3.769,36.251-10.909
          		c9.413-5.743,12.388-18.029,6.645-27.441c-5.743-9.414-18.031-12.388-27.441-6.645c-5.473,3.338-10.818,5.065-15.553,5.064
          		c-14.515-0.079-30.056-12.513-30.056-30.898V70.058c0-11.021,5.744-20.808,15.364-26.183c9.621-5.375,20.966-5.135,30.339,0.636
          		l302.401,186.405c9.089,5.596,14.29,14.927,14.268,25.601c-0.022,10.673-5.261,19.983-14.4,25.56L204.147,415.945
          		c-9.404,5.758-12.36,18.049-6.602,27.452c5.757,9.404,18.048,12.36,27.452,6.602l218.611-133.852
          		c20.931-12.769,33.457-35.029,33.507-59.55C477.165,232.079,464.729,209.767,443.86,196.919z"/>
          </svg>
          <span class="brand-text">ReleaseDates.io</span>
        </a>
      </div>
      <div class="col-4">
        <form class="form-inline w-100">
          <div class="input-group w-100">
            <input type="text" class="form-control" placeholder="Search for TV Shows..." #textbox>
            <div class="input-group-append">
              <button class="btn btn-outline-light" (click)="onFind(textbox.value)" type="submit">Find</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-4 collapse navbar-collapse justify-content-end">
        <ul *ngIf="! user || user.anonymous" class="navbar-nav">
          <li class="nav-item">
            <a routerLink="/auth/login" routerLinkActive="active" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a routerLink="/auth/register" routerLinkActive="active" class="nav-link text-light">Register</a>
          </li>
        </ul>
        <ng-template [ngIf]="user && ! user.anonymous">
          <div>
            <img src="{{ user.photoURL ? user.photoURL : getGravatar() }}" class="rounded mr-2" width="42" height="42">
            <span class="text-light mr-4 align-middle d-inline-block text-truncate" style="max-width: 200px;">{{ user.displayName ? user.displayName : user.email }}</span>
          </div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a (click)="onLogout()" class="nav-link cursor-link">Logout</a>
            </li>
          </ul>
        </ng-template>
      </div>
    </div>
  </nav>
</header>
<div class="alert-box container-fluid d-flex" *ngIf="user && ! user.anonymous && ! user.facebook && ! user.emailVerified">
  <div class="row w-100 no-gutters">
    <div class="col-12">
      <div class="alert alert-warning text-center">
        Please verify your email in order to unlock personal features. <a (click)="onVerify()" class="alert-link cursor-link">Click here to resend the verification email.</a><br>
        Refresh this page if you have verified your email.
      </div>
    </div>
  </div>
</div>
