/* You can add global styles to this file, and also import other style files */
html, body {
  height: calc(100% - 150px);
  top: 0;
}

a, a:hover {
  color: #dc3545;
}

.form {
  width: 100%;
  max-width: 330px;
}

.form .top-half-input {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form .bottom-half-input {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form input.ng-invalid.ng-touched {
  border: 1px solid #dc3545;
}

.cursor-link {
  cursor: pointer;
}

.alert-box {
  position: fixed;
  z-index: 1031;
  margin-top: -20px;
  opacity: .9;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

.loader {
  width: 64px;
  height: 64px;
  fill: #dc3545;
  animation: spin 1s linear infinite;
}

.list-group-item.active {
  background-color: #dc3545;
  border-color: #dc3545;
}

.cards-container {

  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &>.card {

    width: 14rem;
    min-width: 14rem;
    margin: 10px;
    box-shadow: none;
    color: default;
    transition: box-shadow .2s ease-in-out, color .2s ease-in-out;

    &:hover {

      box-shadow: 0 0 20px rgba(0,0,0,.2);
      color: #dc3545;

    }

  }

}
